/* ID */

#sign-in{
    padding: 6px 11px 6px 11px;
    background: -moz-linear-gradient(top,#4387fd,#4683ea);
    color: #FFF;
    border: 1px solid #4285f4;
    font-weight: bold;
    border-radius: 2px;
}

#grid-button{
    background: url('/google-images.png') -132px -38px;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

#search-img{
    background-image: url('/google-images.png') -132px -38px;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

/* CLASS */

.Left-Side{
    float: left;
    margin: 20px;
}

.Right-Side{
    float: right;
    margin: 20px;
}

.main{
    text-align: center;
    margin: 100px;
}

.main a:hover{
    text-decoration: none;
    color: black;
    border-color: rgb(196, 195, 195);
}

.b1{
    padding: 10px;
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(231, 231, 231);
    color: rgb(95, 99, 104);
    border-radius: 5px;
    margin: 100px 5px 0px 5px;
}

.left-bottom{
    float: left;
    margin: 0px 0px 0px 30px;
}

.right-bottom{
    float: right;
    margin: 0px 10px 0px 0px
}
/* GENERAL */

header{
    width: 100%;
    display: inline-block;
}

header a{
    color: black;
}


body{
    background-color: rgb(255, 255, 255);
    color: rgb(95, 99, 104);
}

a{
    text-decoration: none;
    font-family: arial,sans-serif;
    margin: 0px 10px 0px 10px;
    color: rgb(95, 99, 104);
    font-size: 13px;
}

a:hover{
    text-decoration: underline;
}

img{
    width: 25%;
}

input{
    width: 35%;
    text-align: left;
    padding: 0.2% 0 0.2% 2%;
    margin: 20px;
    height: 3em;
    border: 1px solid lightgray;
    border-radius: 20px;
}

footer{
    background-color: rgb(231, 231, 231);
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 10px 0px 10px 0px;
}

footer a{
    font-size: 15px;
}